.Section{
    width: 100%;
}

.GridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: var(--grid-rows-sp);
    place-items: center;
    column-gap: 10px;
}

.Title {
    display: grid;
}

.Button {
    background-color: #4CAF50;
    border: none;
    color: white;
    height: 10vw;
    width: 30vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 4vw;
    cursor: pointer;
    a {
        display: block grid;
        place-items: center;
        width: 100%;
        height: 100%;
    }
}


